.div {
  position: relative;
  line-height: 39.33px;
}
.button {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-26xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightsteelblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-10xl) var(--padding-7xs)
    var(--padding-11xl);
}
.h3 {
  margin: 0;
  align-self: stretch;
  height: 58px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.wrapper {
  width: 181px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-29xl);
}
.div1 {
  height: 39px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.button1,
.buttonWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--color-lightsteelblue-100);
  padding: var(--padding-7xs) var(--padding-20xl) var(--padding-7xs)
    var(--padding-21xl);
  background-color: var(--color-white);
  align-self: stretch;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-26xl);
  overflow: hidden;
  flex-direction: row;
}
.button1:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-lightsteelblue-200);
  box-sizing: border-box;
}
.buttonWrapper {
  width: 274px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.buttonParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.buttonParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  width: 1331px;
  justify-content: flex-end;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
